<div class="jumbotron about-background">

  <%= main_project_logo %>

  <h1>
    <%= @home.title %>
    <br>
    <%= about_subtitle %>
  </h1>

  <div>
    <%= about_description %>
  </div>

  <hr>

  <footer class="row">
    <%= display_project_logos %>
  </footer>
</div>
